doctype html
html
    head
        title= "404 Not Found"
        script.
            var chatLog =!{JSON.stringify(pageData.chatLog)}
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
    body
        h1 Not Found
        p The requested URL was not found on this server.
